{% extends 'layout.html' %}
{% load static %}
{% load custom_tag %}


{% block content_main %}
    <div class="file-cards">
        {% if files %}
            {% for file in files %}
                <div class="file-card">
                    {% get_filename file.upload_file as filename %}
                    <h3><a href="{% url 'file-download' file.id %}">{{ filename }}</a></h3>
                    {{ file.file_content|truncatewords:20 }}
                </div>
            {% endfor %}
        {% else %}
            <h2>Нет данных</h2>
        {% endif %}
    </div>
{% endblock %}