{% extends 'layout.html' %}
{% load static %}
{% load custom_tag %}


{% block content_main %}
    <div class="file-cards">
        {% if files %}
            {% for file in files %}
                <div class="file-card">
                    <h3>{% get_filename file.upload_file %}</h3>
                    <a href="{% url 'file-delete' file.id %}" class="btn btn-outline-danger"><i
                            class="bi bi-trash2-fill"></i></a>
                    <a href="{% url 'file-download' file.id %}" class="btn btn-outline-danger"><i
                            class="bi bi-download"></i></a>
                </div>
            {% endfor %}
        {% else %}
            <h2>Нет данных</h2>
        {% endif %}
    </div>
{% endblock %}