{% extends 'layout.html' %}
{% load static %}
{% load custom_tag %}

{% block content_main %}
    <div class="file-cards">
        {% for word, filenames in dict_filenames.items %}
            {% for filename in filenames %}
                <div class="file-card">
                    {% get_file_id filename files as file_id %}
                    <h3><a href={% url 'file-download' file_id %}>{{ filename }}</a></h3>
                    {% truncate_bold_world filename word files as snippet %}
                    <p>{{ snippet }}</p>
                    <a href="{% url 'file-class' file_id %}" class="btn btn-outline-danger"><i
                            class="bi bi-bar-chart"></i></a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}