{% extends 'layout.html' %}
{% load static %}
{% load custom_tag %}

{% block content_main %}
    <div class="file-cards">
        {% for word, filenames in dict_filenames.items %}
            <div class="file-card">
                <h3>Word: {{ word }}</h3>
                <h4>Filenames:</h4>
                {% for filename in filenames %}
                    {% get_file_id filename files as file_id %}
                    <a class="file-link" href={% url 'file-download' file_id %}><h7>{{ filename }}</h7></a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}